*{
    margin:0;
}
.navbar{
    margin-top: 30px;
    margin-left: 1250px;
    position: fixed;
    z-index: 999;
}

.drop {
    display: inline-block;
    z-index: 999;
    border: 10px solid black;
    border-radius: 50%;
}
.drop:hover .list {
    display: block;
    transition: 2s;
    z-index: 999;
    
}

.list {
    display: none;
    position: fixed;
    background-color: rgba(0,0,0,0);
    min-width: 160px;
    z-index: 999;
    
}

  .list a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
    z-index: 999;
}

.list a img{
     border: 2px solid red;
    border-radius: 50%;
    margin: -5px;
}

.list a img:hover {
   background-color: rgba(255,255,255,0.9);
}

    
footer{
    background-color: black;
    height: 200px;
}
 
footer table tr{
    position: absolute; 
    z-index: 3;
}

    #char{
    position: absolute;
    font-size: 70px;
    left: 120px;
    top:80px;
    color:white;
    font-family:'ComicBook';
    text-shadow: 2px 2px 2px 2px rgba(0,0,0,.8); 
}
    @font-face {
    font-family: 'ComicBook';
    src: url(font/ComicBook.otf);
    
}
 
 body{
       
        background-image: url("images/trailerbg.jpeg");
        z-index: -4;
        overflow-x: hidden;
    }
    #bg{
        
        height:1400px;
        background-color: rgba(255,0,0,.5);
        z-index: -2;
    }

.video{
    position: absolute;
    top: 220px;
    left:200px;
    border: 20px solid black;
    box-shadow: 2px 5px 6px 3px rgba(0,0,0,.8);
    
}
.photo{
        position: relative;
        top: 70%;
        left:300px;
    }    
